@charset "utf-8";
/* CSS Document */


body {
	font-size: 1.3em;
}
.glyphicon {
	padding-right: 0.5em;
	color: #0277bd;
}

.contact .glyphicon {
	color:#000000;
}

#crumbs ul li a .glyphicon {
	color:white;
}


.slogan {
	color: #0277bd;
	padding-left: 1em;
	padding-top: 0.3em;
	float: left;
}
.logo {
	padding-top: 0.5em;
	padding-bottom: 0.3em;
	padding-right: 0;
	padding-left: 1em;
	max-width: 35%;
}


#crumbs ul li a .liText {
	display : none;
	}

.contact ul li {
	list-style-type:none;
	font-weight:bold
}

#boeking {
	max-height:50%;
	
}

#navbar a {
	color: #0277bd;
	
}
#myCarousel {
	margin-top: 7em;
}


.carousel .item img{
	border-radius: 10px 10px 10px 10px;
}


.carousel-control {
	border-radius : 10px;
	}


#carouselButtons {
    margin-left: 10px;
    position: absolute;
    bottom: 0px;
	 z-index: 2;
}



fieldset {
	border:none;
	margin:1%;
}
h5 {
	color: #0277bd;
	font-weight:600;
	font-variant:small-caps;
	font-size:1.25em;
}
.scroll {
	overflow:hidden;
	margin-bottom:6%;
	padding-left:40;
}
#logo {
	float:right;
}




.footer {
	border-top: 1px solid #eee;
	position:fixed;
	bottom:0;
	background-color:white;
}
.footer>p{
	text-align:center;
}

.formknop {
	margin-top:2%;
	margin-right:2%;
	
}
.form-control {
	margin:2% 2% 2% 0;
	font-weight:normal;
	
}

#bevestigingsinfo .bevestig {
	display:block;
	text-align:left;
	padding-left:4em;
}
#bevestigingsinfo .bevestig li {
	display:block;
	
}
#bevestigingsinfo .bevestig li em{
	display:block;
	font-style:normal;
	font-weight:bold;
	float:right;
	padding-right:4em;
}
#confirm, #bevestigingsinfo{
	margin:0 4%;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .7s;
       -o-transition-duration: .7s;
          transition-duration: .7s;
  -webkit-transition-property: height, visibility;
       -o-transition-property: height, visibility;
          transition-property: height, visibility;
}






/* Carousel fade effect*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
/* z-index: 2;*/
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
 z-index: 0;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}










@media (min-width: 362px) {
.slogan {
	padding-top: 1em;
}
}

@media (min-width: 450px) {
.slogan {
	font-size: 1em;
	padding-left: 1em;
}
.logo {
	padding-left: 1em;
}
}

@media (min-width: 755px) {
.slogan {
	padding-left: 0em;
}
.logo {
	padding-left: 1em;
	max-width: 100%;
}


#crumbs ul li a .liText {
	display:inline;
		}



}






/******************** Menu *********************/


#crumbs  {
	padding-left:0;
}

#crumbs ul {
	list-style: none;
	display: inline-table;
	
	
}
#crumbs ul li {
	display: inline;
}
#crumbs ul li a {
	display: block;
	float: left;
	height: 35px;
	background: #0277bd;
	text-align: center;
	/*	padding: 30px 40px 0 80px;*/
	padding-left: 20px;
	position: relative;
	margin: 1px 1px 0 0;
	font-size: 1em;
	text-decoration: none;
	color: #fff;
	width:19%;
	line-height: 2.5;
	
	
}
#crumbs ul li a:after {
	content: "";
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid #0277bd;
	position: absolute;
	right: -17px;
	top: 0;
	z-index: 1;
}
#crumbs ul li a:before {
	content: "";
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid #FFFFFF;
	position: absolute;
	left: 0;
	top: 0;
}
#crumbs ul li:first-child a {
	padding-right: 15px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}


#crumbs ul li:first-child a:before {
	display: none;
}
#crumbs ul li:last-child a {
	padding-right: 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#crumbs ul li:last-child a:after {
	display: none;
}



#crumbs ul li.active a {
	background: #31b0d5; 
	}
	
#crumbs ul li.active a:after {
		border-left: 17px solid #31b0d5;
	}


