@charset "utf-8";
/* CSS Document */


body {
	font-size: 1em;
}
.glyphicon {
	padding-right: 0.5em;
	color:#FFFFFF
}

.contact .glyphicon {
	color:#000000;
}
.slogan {
	color: #0277bd;
	padding-left: 1em;
	padding-top: 0.3em;
	float: left;
}
.logo {
	padding-top: 0.5em;
	padding-bottom: 0.3em;
	padding-right: 0;
	padding-left: 1em;
	max-width: 35%;
}


#crumbs ul li a .liText {
	display : none;
	}

.contact ul li {
	list-style-type:none;
	font-weight:bold
}



#navbar a {
	color: #0277bd;
}
#myCarousel {
	margin-top: 6em;
}

.footer {
	border-top: 1px solid #eee;
	position:fixed;
	bottom:0;
}
.footer>p{
	text-align:center;
	margin-right:3%;
}

@media (min-width: 362px) {
.slogan {
	padding-top: 1em;
}
}

@media (min-width: 450px) {
.slogan {
	font-size: 1em;
	padding-left: 1em;
}
.logo {
	padding-left: 1em;
}
}

@media (min-width: 755px) {
.slogan {
	padding-left: 0em;
}
.logo {
	padding-left: 1em;
	max-width: 100%;
}


#crumbs ul li a .liText {
	display:inline;
		}



}






/******************** Menu *********************/


#crumbs  {
	padding-left:0%;
}

#crumbs ul {
	list-style: none;
	display: inline-table;
	
	
}
#crumbs ul li {
	display: inline;
}
#crumbs ul li a {
	display: block;
	float: left;
	height: 35px;
	background: #0277bd;
	text-align: center;
	/*	padding: 30px 40px 0 80px;*/
	padding-left: 20px;
	position: relative;
	margin: 1px 1px 0 0;
	font-size: 1em;
	text-decoration: none;
	color: #fff;
	
}
#crumbs ul li a:after {
	content: "";
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid #0277bd;
	position: absolute;
	right: -17px;
	top: 0;
	z-index: 1;
}
#crumbs ul li a:before {
	content: "";
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid #FFFFFF;
	position: absolute;
	left: 0;
	top: 0;
}
#crumbs ul li:first-child a {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}


#crumbs ul li:first-child a:before {
	display: none;
}
#crumbs ul li:last-child a {
	padding-right: 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#crumbs ul li:last-child a:after {
	display: none;
}
