{% extends 'SCRUMSwiftairBundle::base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div>
            {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
        </div>
        
        <div>
            {{ form_widget(form.password, {'attr': {'placeholder': 'Password'}}) }}
        </div>
        
        {{ form_end(form) }}
    </div>
{% endblock %}