{% extends 'SCRUMSwiftairBundle::base.html.twig' %}
{% block header %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<div class="container"> 
  
  <!-- Navigatie bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <img class="logo" alt="Swiftair logo"  src="../images/logo.png"  >
        <div class="slogan">Swiftair...Keep Exploring!</div>
      </div>
      <div id="navbar" class="navbar-collapse collapse" role="navigation" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span></span>Profile</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-plane"></span>About us</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse --> 
    </div>
  </nav>



  
  <!-- Carousel -->
  <div id="myCarousel" class="carousel slide" data-interval="5000"> 
    <!-- Indicators voor carousel(in het midden) -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- images voor carousel-->
    <div class="carousel-inner">
      <div class="item active"> <img src="../images/Banner/Greece.jpg"/> </div>
      <div class="item"> <img src="../images/Banner/Italy.jpg"/> </div>
      <div class="item"> <img src="../images/Banner/NY.jpg"/> </div>
    </div>
    
    <!-- Controls links en rechts voor carousel--> 
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span></a> </div>

  
  


{% endblock %}
{% block body %}
{{parent()}}
<div id="inhoud">
    <ul>
        <li><a href="#welcome">Welkom</a></li>
@@ -31,4 +83,21 @@
        {{ form_end(form) }}
    </div>
</div>


{% endblock %}

{% block footer %}

 <!-- footer  -->
  <div class="footer"> &#169; Swiftair 2015 </div>


  
  <!--for carousel --> 
  <script type="text/javascript">
    $(document).ready(function(){
        $('.carousel').carousel();
    });
</script> 
{% endblock %}