{% extends 'SCRUMSwiftairBundle::base.html.twig' %}

{% block body %}

<div class="container">
	<h1> Welkom op de website van Swiftair! </h1>
    <p> Bij ons kan u de voordeligste vlucht boeken om naar uw droombestemming te gaan. </p>
    
    <em> Hier komt dan eigenlijk de destination link zodat mensen meteen kunnen zoeken naar vluchten! </em>
    
</div>
{% endblock %}

