{% extends 'SCRUMSwiftairBundle::base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
    <div class="container">
    <h1> Welkom bij Swiftair </h1>
    
    <p> Wij zijn een hersenspinsel van de cursisten PHP ontwikkelaar van VDAB Oostende. Dankzij onze maatschappij kan u aan interessante tarieven naar talloze bestemmingen vliegen. </p>
    <p> Swiftair is een familie bedrijf. Het scrum team maakte dit met veel zorg en liefde en zo kan u op zijn minst al dromen over ons. </p>
    <br>
    <p> Wij wensen u alvast een fijne reis!!! </p>
    <p> Het Swiftair - Team </p>
    </div>
{% endblock %}


